<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="text-primary fw-bold m-0">Выбрать Картинку</h6>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="row align-items-center no-gutters">
        <div class="col me-2">
          <h6 class="mb-0 imageSelector" data-image="forest.jpg"><strong>Лес</strong></h6>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="formCheck-7">
            <label class="form-check-label" for="formCheck-1"></label>
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row align-items-center no-gutters">
        <div class="col me-2">
          <h6 class="mb-0 imageSelector" data-image="field.jpg"><strong>Поле</strong></h6>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="formCheck-8">
            <label class="form-check-label" for="formCheck-2"></label>
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row align-items-center no-gutters">
        <div class="col me-2">
          <h6 class="mb-0 imageSelector" data-image="apartment.jpg"><strong>Квартира</strong></h6>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="formCheck-9">
            <label class="form-check-label" for="formCheck-3"></label>
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row align-items-center no-gutters">
        <div class="col me-2">
          <h6 class="mb-0 imageSelector" data-image="house.jpg"><strong>Дом</strong></h6>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="formCheck-10">
            <label class="form-check-label" for="formCheck-3"></label>
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row align-items-center no-gutters">
        <div class="col me-2">
          <h6 class="mb-0 imageSelector" data-image="castle.jpg"><strong>Замок</strong></h6>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="formCheck-11">
            <label class="form-check-label" for="formCheck-3"></label>
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row align-items-center no-gutters">
        <div class="col me-2">
          <h6 class="mb-0 imageSelector" data-image="bird.jpg"><strong>Птица</strong></h6>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="formCheck-12">
            <label class="form-check-label" for="formCheck-3"></label>
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row align-items-center no-gutters">
        <div class="col me-2">
          <h6 class="mb-0 imageSelector" data-image="cat.png"><strong>Кошка</strong></h6>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="formCheck-13">
            <label class="form-check-label" for="formCheck-3"></label>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
