<div class="col-lg-12 mb-4">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="text-primary fw-bold m-0">Компоненты</h6>
    </div>
    <div class="card-body">
      <h4 class="small fw-bold">Панорамность<span class="float-end" id="panoramityPercentage">20%</span></h4>
      <div class="slidecontainer">
        <input class="form-range" type="range" id="panoramitySlider" min="0" max="100" step="1" value="50" name="panoramitySlider">
      </div>
      <h4 class="small fw-bold">Детализация<span class="float-end" id="detalizationPercentage">40%</span></h4>
      <input class="form-range" type="range" id="detalizationSlider" min="0" max="100" step="1" value="50" name="detalizationSlider">
      <h4 class="small fw-bold">Желание Изменить Картинку<span class="float-end" id="desireToChangePercentage">60%</span></h4>
      <input class="form-range" type="range" id="desireToChangeSlider" min="0" max="100" step="1" value="50" name="desireToChangeSlider">
    </div>
  </div>
</div>
