<div id="wrapper">
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      <app-header
        [selectedHeaderTabIndex]="selectedHeaderTabIndex"
        [nextTabIndex]="nextTabIndex()"
        [previousTabIndex]="previousTabIndex()"
        [headerTabs]="headerTabs"
        (onSelectedHeaderTabChange)="setSelectedHeaderTab($event)"
      ></app-header>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-lg-7">
            <app-trainingvideosection></app-trainingvideosection>
          </div>
          <div class="col-lg-5">
            <app-chartsection
              [detalizationProperty]="detalizationProperty"
              [panoramityProperty]="panoramityProperty"
              [desireToChangeProperty]="desireToChangeProperty"
              [imageNames]="imageNames"
              [selectedImageIndex]="selectedImageIndex"
              [techniques]="techniques"
              [selectedTechniqueIndex]="selectedTechniqueIndex"
              [detalizationPropertyValue]="detalizationPropertyValue"
              [panoramityPropertyValue]="panoramityPropertyValue"
            ></app-chartsection>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-7 col-xl-8">
            <app-selectedimagesection
              [detalizationProperty]="detalizationProperty"
              [panoramityProperty]="panoramityProperty"
              [desireToChangeProperty]="desireToChangeProperty"
              [imageNames]="imageNames"
              [selectedImageIndex]="selectedImageIndex"
              [techniques]="techniques"
              [selectedTechniqueIndex]="selectedTechniqueIndex"
              [detalizationPropertyValue]="detalizationPropertyValue"
              [panoramityPropertyValue]="panoramityPropertyValue"
            ></app-selectedimagesection>
          </div>
          <div class="col-lg-5 col-xl-4">
            <app-selectpicturesection
              [imageNames]="imageNames"
              [selectedImageIndex]="selectedImageIndex"
              (onSelectedImageChange)="setSelectedImage($event)"
            ></app-selectpicturesection>
            <app-slidepropertiessection
              [detalizationProperty]="detalizationProperty"
              [panoramityProperty]="panoramityProperty"
              [desireToChangeProperty]="desireToChangeProperty"
              [selectedTechniqueIndex]="selectedTechniqueIndex"
              (onDetalizationPropertyChanged)="setDetalizationValue($event)"
              (onPanoramityPropertyChanged)="setPanoramityValue($event)"
              (onDesireToChangePropertyChanged)="setDesireToChangeValue($event)"
            ></app-slidepropertiessection>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 mb-4">
            <app-selecttechniquesection
              [techniques]="techniques"
              [selectedTechniqueIndex]="selectedTechniqueIndex"
              (onSelectedTechniqueChange)="setSelectedTechnique($event)"
            ></app-selecttechniquesection>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
  <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
