<li class="list-group-item technique" data-start-detalization="30" data-end-detalization="80" data-start-panoramity="50" data-end-panoramity="100" (click)="setSelectedTechnique()">
  <div class="row align-items-center no-gutters">
    <div class="col me-2">
      <h6 class="mb-0"><strong>{{ technique.name }}</strong></h6>
      <span class="text-xs">{{technique.description}}</span>
      <p *ngIf="technique.tutorialUrl" class="text-xs mb-0">
        Как делать:
        <a href="technique.tutorialUrl" target="_blank">ссылка на видео</a>
      </p>
    </div>
    <div class="col-auto">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="formCheck-1" [checked]="isChecked()">
        <label class="form-check-label" for="formCheck-1"></label>
      </div>
    </div>
  </div>
</li>
