<li class="list-group-item technique" data-start-detalization="30" data-end-detalization="80" data-start-panoramity="50" data-end-panoramity="100" (click)="setSelectedTechnique()">
  <div class="row align-items-center no-gutters">
    <div class="col me-2">
      <h6 class="mb-0"><strong>{{ technique.name }}</strong></h6>
      <span class="text-xs">{{technique.description}}</span>
      <p *ngIf="technique.tutorialUrl" class="text-xs mb-0">
        Как делать:
        <a href="technique.tutorialUrl" target="_blank">ссылка на видео</a>
      </p>
      <p class="text-xs my-0">
        Детализация:
        <span [ngClass]="{ 'text-danger': differenceBetweenDetalizations() < 0, 'text-success': differenceBetweenDetalizations() > 0 }">
          <strong>
            {{ detalizationString() }}
            <i class="fas fa-arrow-up" *ngIf="differenceBetweenDetalizations() > 0"></i>
            <i class="fas fa-arrow-down" *ngIf="differenceBetweenDetalizations() < 0"></i>
          </strong>
        </span>
      </p>
      <p class="text-xs my-0">
        Панорамность:
        <span [ngClass]="{ 'text-danger': differenceBetweenPanoramities() < 0, 'text-success': differenceBetweenPanoramities() > 0 }">
          <strong>
            {{ panoramityString() }}
            <i class="fas fa-arrow-up" *ngIf="differenceBetweenPanoramities() > 0"></i>
            <i class="fas fa-arrow-down" *ngIf="differenceBetweenPanoramities() < 0"></i>
          </strong>
        </span>
      </p>
      <p class="text-xs my-0">
        Желание изменить картинку:
        <span [ngClass]="{ 'text-danger': differenceBetweenWishesToChange() > 0, 'text-success': differenceBetweenWishesToChange() < 0 }">
          <strong>
            {{ wishToChangeString() }}
            <i class="fas fa-arrow-up" *ngIf="differenceBetweenWishesToChange() > 0"></i>
            <i class="fas fa-arrow-down" *ngIf="differenceBetweenWishesToChange() < 0"></i>
          </strong>
        </span>
      </p>
    </div>
    <div class="col-auto">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="formCheck-1" [checked]="isChecked()">
        <label class="form-check-label" for="formCheck-1"></label>
      </div>
    </div>
  </div>
</li>
